<nav id="footernav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link{% if page.url contains 'news' %} active{% endif %}" href="{{ '/news' | relative_url }}">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.data.links.documentation }}" target="_blank">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.data.links.integration_console }}" target="_blank"> Integration Console</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if page.url contains 'supported-platforms' %} active{% endif %}" href="{{ '/supported-platforms' | relative_url }}">Supported Platforms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.data.links.terms_of_service }}" target="_blank">Terms of Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.data.links.privacy_policy }}" target="_blank">Privacy Policy</a>
    </li>
  </ul>
</nav>