<footer id="page-footer">
  {% unless page.url == '/' %}
  <div class="bg-gray-mid">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="content">
            {% include nav/footer_nav.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endunless %}
  <div class="footer-wrapper">
    <span class="copyright">&copy; 2018 Google</span>
    <div class="top">
      <a class="top-link" href="#mainnav">Back to Top</a>
      <div class="logo-footer bg-gradient">
        <img src="{{ '/assets/img/logo-white.svg' | relative_url }}" alt="{{ site.title }}">
      </div>
    </div>
  </div>
</footer>