<footer id="page-footer">
  {% unless page.url == '/' %}
  <div class="bg-primary">
    <div class="container">
      {% include footernav.html %}
    </div>
  </div>
  {% endunless %}
  <div class="footer-wrapper">
    <span class="copyright">&copy; 2018 Google</span>
    <div class="top">
      <a class="top-link" href="#mainnav">Back to Top</a>
      <div class="logo-footer bg-gradient">
        <img src="/assets/img/logo-white.svg" alt="{{ site.title }}">
      </div>
    </div>
  </div>
</footer>