<header id="page-header">
  <nav id="mainnav" class="navbar navbar-expand-md">
    <a class="navbar-brand animated fadeIn" href="/"><img src="/assets/img/logo-wordmark.svg" alt="{{ site.title }} logo"></a>
    <div class="justify-content-end" id="primarynav">
      <ul class="navbar-nav">
        <li class="nav-item {% if page.url == '/' %} active-item{% endif %}">
          <a class="nav-link" href="/">Home {% if page.url == '/' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item{% if page.url == '/solutions' %} active-item{% endif %}">
          <a class="nav-link" href="/solutions">Solutions {% if page.url == '/solutions' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item{% if page.url == '/about' %} active-item{% endif %}">
          <a class="nav-link" href="/about"> About {% if page.url == '/about' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item{% if page.url == '/contact' %} active-item{% endif %}">
          <a class="nav-link" href="/contact">Contact {% if page.url == '/contact' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav id="mobilenav-wrapper">
    <a class="navbar-brand animated fadeIn" href="/"><img src="/assets/img/logo-wordmark.svg" alt="{{ site.title }} logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobilenav" aria-controls="mobilenav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="bar close-one"></span>
      <span class="bar close-two"></span>
      <span class="bar close-three"></span>
    </button>
    <div id="mobilenav" class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <li class="nav-item logo-mobile">
          <a class="nav-link " href="/"><img src="/assets/img/logo-mobile.svg" class="img-responsive" alt=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="/">Home {% if page.url == '/' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-collapse-trigger{% if page.url == '/solutions' %} active{% endif %}" data-toggle="collapse" data-target="#solution-collapse">Solutions {% if page.url == '/solutions' %}<span class="sr-only">(current)</span>{% endif %}</a>
          <ul class="collapse secondary-collapse" id="solution-collapse">
            <li class="nav-item">
              <a href="/solutions" class="nav-link{% if page.url == '/solutions' %} active{% endif %}">Overview</a>
            </li>
            <li class="nav-item">
              <a href="/widevine-drm" class="nav-link{% if page.url == '/widevine-drm' %} active{% endif %}">Widevine DRM</a>
            </li>
            <li class="nav-item">
              <a href="/widevine-cas" class="nav-link{% if page.url == '/widevine-cas' %} active{% endif %}">Widevine CAS</a>
            </li>
            <li class="nav-item">
              <a href="/shaka-player" class="nav-link{% if page.url == '/shaka-player' %} active{% endif %}">Shaka Player + Packager</a>
            </li>
            <li class="nav-item">
              <a href="/cwip-training" class="nav-link{% if page.url == '/cwip-training' %} active{% endif %}">CWIP Training</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/about' %} active{% endif %}" href="/about"> About {% if page.url == '/about' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/contact' %} active{% endif %}" href="/contact">Contact {% if page.url == '/contact' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>

      </ul>
    </div>
    
  </nav>
</header>
