<header id="page-header">
  <nav id="mainnav" class="navbar navbar-expand-md">
    <a class="navbar-brand animated fadeIn" href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/logo-wordmark.svg' | relative_url }}" alt="{{ site.title }} logo"></a>
    <div class="justify-content-end magicnav" id="primarynav">
      <ul class="navbar-nav">
        <li class="nav-item{% if page.url == '/' %} active-item{% endif %}">
          <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li class="nav-item{% if page.url contains 'solutions' %} active-item{% endif %}">
          <a class="nav-link" href="{{ '/solutions/overview' | relative_url }}">Solutions</a>
        </li>
        <li class="nav-item{% if page.url contains 'training' %} active-item{% endif %}">
          <a class="nav-link" href="{{ '/training' | relative_url }}">Training</a>
        </li>
        <li class="nav-item{% if page.url contains 'about' %} active-item{% endif %}">
          <a class="nav-link" href="{{ '/about' | relative_url }}">About</a>
        </li>
        <li class="nav-item{% if page.url contains 'contact' %} active-item{% endif %}">
          <a class="nav-link" href="{{ '/contact' | relative_url }}">Contact</a>
        </li>
      </ul>
      <div class="magic-line"></div>
    </div>
  </nav>
  <nav id="mobilenav-wrapper">
    <a class="navbar-brand animated fadeIn" href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/logo-wordmark.svg' | relative_url }}" alt="{{ site.title }} logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobilenav" aria-controls="mobilenav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="bar close-one"></span>
      <span class="bar close-two"></span>
      <span class="bar close-three"></span>
    </button>
    <div id="mobilenav" class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <li class="nav-item logo-mobile">
          <a class="nav-link" href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/logo-mobile.svg' | relative_url }}" class="img-responsive" alt="{{ site.title }}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-collapse-trigger{% if page.url contains 'solutions' %} active{% endif %}" data-toggle="collapse" data-target="#solution-collapse">Solutions</a>
          <ul class="collapse secondary-collapse" id="solution-collapse">
            <li class="nav-item">
              <a href="{{ '/solutions/overview' | relative_url }}" class="nav-link{% if page.url contains 'overview' %} active{% endif %}">Overview</a>
            </li>
            <li class="nav-item">
              <a href="{{ '/solutions/widevine-drm' | relative_url }}" class="nav-link{% if page.url contains 'widevine-drm' %} active{% endif %}">Widevine DRM</a>
            </li>
            <li class="nav-item">
              <a href="{{ '/solutions/widevine-cas' | relative_url }}" class="nav-link{% if page.url contains 'widevine-cas' %} active{% endif %}">Widevine CAS</a>
            </li>
            <li class="nav-item">
              <a href="{{ '/solutions/shaka-player' | relative_url }}" class="nav-link{% if page.url contains 'shaka-player' %} active{% endif %}">Shaka Player + Packager</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-collapse-trigger{% if page.url contains 'training' %} active{% endif %}" data-toggle="collapse" data-target="#training-collapse">Training</a>
          <ul class="collapse secondary-collapse" id="training-collapse">
            <li class="nav-item">
              <a href="{{ '/training' | relative_url }}" class="nav-link">Overview</a>
            </li>
            <li class="nav-item">
              <a href="{{ '/training#prerequisites' | relative_url }}" class="nav-link">Prerequisites</a>
            </li>
            <li class="nav-item">
              <a href="{{ '/training#training-topics' | relative_url }}" class="nav-link">Training Topics</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Apply Now</a>
            </li>
            <li class="nav-item">
              <a href="{{ '/training#travel-info' | relative_url }}" class="nav-link">Travel Info</a>
            </li>
            <li class="nav-item">
              <a href="{{ '/training#partners' | relative_url }}" class="nav-link">Partners</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Login</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url contains 'about' %} active{% endif %}" href="{{ '/about' | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url contains 'contact' %} active{% endif %}" href="{{ '/contact' | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
