<head>
  <meta name="google" content="notranslate" />
  <meta http-equiv="Content-Language" content="en_US" />
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fav and Touch Icons -->
  <link rel="icon" type="image/png" href="favicon.png">
  
  <!-- FACEBOOK SHARE -->
   <!-- Use images that are at least 1200 x 630 pixels for the best display on high resolution devices. At the minimum, you should use images that are 600 x 315 pixels to display link page posts with larger images. Images can be up to 8MB in size. -->
   
   <meta property="og:title" content="Ocupop">
   <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae magnam aliquid maiores quidem eligendi nihil architecto, nemo. Adipisci vitae dicta quam, accusamus officia! Exercitationem, voluptas, reiciendis eaque ut saepe doloremque.">
   <meta property="og:type" content="website">
   <meta property="og:url" content="{{ page.url | prepend: site.url }}">
   <meta property="og:image" content="{{ site.baseurl }}/img/og-image.jpg">
   <meta property="og:image:type" content="image/jpg">
   <meta property="og:image:width" content="1400">
   <meta property="og:image:height" content="600">
   
   
   <!-- TWITTER CARD SHARE -->
   <!-- Images for this Card should be at least 280px in width, and at least 150px in height. Image must be less than 1MB in size. -->
   
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="@Ocupop">
   <meta name="twitter:creator" content="@Ocupop">
   <meta name="twitter:title" content="Ocupop, Inc - Boutique agency | Certifiably creative">
   <meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat repudiandae debitis aliquid alias est, eveniet odio, at dicta laboriosam quidem, accusamus? Placeat error, eaque. Placeat eaque commodi, odit consequuntur. Minus!">
   <meta name="twitter:image" content="{{site.baseurl }}/img/twitter-share-280-150.jpg">
   <meta name="twitter:image:alt" content="Ocupop, Inc.">
  <!-- Modernizr -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

  <!-- Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">

</head>