<!-- Javascript -->
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
{% if page.url == '/news/' %}
<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
  $(function() {
    $('.blog-posts').mixItUp();
  });

  var params = window.location.search.substring(1);
  if (params) {
    window.console.log(params);
    var filter = '.' + params;
    window.console.log('filter ', filter);
    $('.blog-posts').mixItUp({
      load: {
        filter: filter
      }
    });
  }
  

</script>
{% endif %}

<!-- Search -->
<!-- {% include search.html %} -->

<!-- Analytics -->
{% include analytics.html %}