<nav id="solution-nav" class="bg-gradient">
  <div class="container">
    <ul  class="nav">
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/solutions' %} active{% endif %}" href="/solutions">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/widevine-drm' %} active{% endif %}" href="/widevine-drm">Widevine DRM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/widevine-cas' %} active{% endif %}" href="/widevine-cas">Widevine CAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/shaka-player' %} active{% endif %}" href="/shaka-player">Shaka Player + Packager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/cwip-training' %} active{% endif %}" href="/cwip-training">CWIP Training</a>
      </li>
    </ul>
  </div>
</nav>