<nav id="training-nav" class="subnav bg-gradient">
  <div class="container">
    <div class="magicnav">
      <ul class="nav">
        <li class="nav-item active-item">
          <a class="nav-link" href="/training">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#prerequisites">Prerequisites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#training-topics">Training Topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Apply Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#travel-info">Travel Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#partners">Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://accounts.google.com/signin/v2/sl/pwd?service=ah&passive=true&continue=https%3A%2F%2Fappengine.google.com%2F_ah%2Fconflogin%3Fcontinue%3Dhttps%3A%2F%2Fcwip-portal.appspot.com%2F&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Login</a>
        </li>
      </ul>
      <div class="magic-line"></div>
    </div>
  </div>
</nav>