#page-footer {
  display:block;
  background-color: $white;
  color: $brand-primary;
  font-family: 'Saira', sans-serif;
  .logo-footer {
    margin-top: 0;
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    img {
      width: 75px;
    }
  }
  .copyright {
    padding: 40px 0 15px;
    text-align: center;
    display: block;
  }
  .top-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: $brand-primary;
    text-transform: uppercase;
    text-decoration: none;
  }
  .footer-wrapper {
    display: block;
    position: relative;
  }
  .nav {
    padding: 0 0 20px 0;
  }
}

#footernav {
  .nav {
    justify-content: space-between;
    .nav-item {
      width: 100%;
      text-align: center;
    }
    .nav-link {
      color: $brand-primary;
      font-family: 'Saira', sans-serif;
      font-size: 14px;
      padding: 10px 0;
    }
  }
}

// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  #page-footer {
    .copyright {
      padding: 0 0 0 30px;
    }
    .top-link {
      padding-right: 20px;
      display: inline-block;
      position: relative;
    }
    .footer-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 85px;
      margin-top: 0;
      img {
        width: 50px;
      }
    }
    .top {
      display: flex;
      align-items: center;
    }
  }
  #footernav {
    .nav {
      .nav-item {
        text-align: left;
        width: auto;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {
  #footernav {
    .nav {
      .nav-link {
        font-size: 16px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
