.DS-Store
.DS_Store
.sass-cache
.bundle
.jekyll-metadata
.jekyll-cache

# Site build & Distribution
dist
_site

# Logs
*.log

# Environment Variables
.env
.env.*

# Packages
node_modules
vendor/**/*

# Notes
notes.txt