# Site settings
title: Client Name
email: dev@ocupop.com
description: ''
url: "http://client_url"
permalink: /:title
analytics_code: UA-000000000-1 # accessible via dev@ocupop.com

# Collections
collections:
  examples:
    output: true
    layout: default
    permalink: /examples/:path

# defaults:
#   - 
#     scope:
#       type: 'examples'
#     values:
#       layout: default
#       variable_name: value

# Build settings
safe: false
source: src
exclude: ["_assets"]


gems:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag

# feed:
#   title: Client Name
#   description: Description of feed
#   url: primary url
#   path: alternate path