.search {
  input {
    padding: 5px 10px;
    color: $white;
    width: 250px;
    background-color: $brand-primary;
    border: 0;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
    font-size: 14px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $white;
    font-size: 14px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $white;
    font-size: 14px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $white;
    font-size: 14px;
  }
}

#news {
  h2 {
    font-size: 20px;
  }
  p {
    color: $brand-primary;
  }
  .post-details {
    color: $blue-light;
    font-family: 'Saira', sans-serif;
  }
}

