#news, #post, #archive {
  h2 {
    font-size: 20px;
  }
  p {
    color: $brand-primary;
  }
  .button {
    margin: 10px 0;
  }
  .post-details {
    color: $blue-light;
    font-family: 'Saira', sans-serif;
  }
}
