#solutions {
  color: $brand-primary;
  hr {
    border-top: 1px solid $gray-dark;
  }
}

#hash-nav {
  border-left: 1px solid $text-color;
  h3 {
    color: $text-color;
  }
  .nav-link {
    color: $text-color;
    padding-left: 0;
  }
}

@media (max-width: $screen-md-max) {
  #hash-nav {
    display: none;
  }
  #solutions {
    img {
      max-width: 175px;
      margin: 0 auto;
      display: block;
    }
  }
}
