#supported-platforms {
  .table-list {
    margin-bottom: 40px;
  }
}

@media (max-width: $screen-md-max) {
  #supported-platforms {
    .table-list {
      > li {
        display: block;
        border: 1px solid $gray-mid;
        padding: 20px;
        &.heading-row {
          padding: 0;
          background-color: $gray-mid;
          color: $brand-primary;
          text-align: left;
          margin-bottom: 0;
          .column-heading {
            text-align: left;
            padding: 10px 20px;
          }
        }
        .item {
          padding-left: 0;
          padding-right: 0;
          &:last-of-type {
            border-right: 0;
          }
          padding-top: 0;
          padding-bottom: 0;
          p {
            line-height: 1.5;
          }
        }
      }
      .w-20,
      .w-25,
      .w-33,
      .w-40 {
        width: 100% !important;
      }
    }
  }
}
