.button {
  padding: 9px 20px;
  border-radius: 7px;
  background-color: $brand-primary;
  display: inline-block;
  text-align: center;
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Saira', sans-serif;
  @include transition(.5s);
  &:hover {
    text-decoration: none;
    background-color: $blue-light;
  }
  &.button-white {
    background-color: $white;
    color: $brand-primary;
  }
  &.button-teal {
    background-color: $teal;
    color: $white;
    &:hover {
      background-color: $blue-light;
    }
  }
  &.button-block {
    display: block;
  }
  &.button-lg {
    padding-left: 70px;
    padding-right: 70px;
  }
}

// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  .button {
    padding: 9px 35px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
