.logo-pile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.wrap {
    flex-wrap: wrap;
  }
  img {
    padding: 20px;
    flex-basis: auto;
  }
}

@media (max-width: $screen-md-max) {
  .logo-pile {
    flex-wrap: wrap;
    .logo {
      width: 50%;
      text-align: center;
    }
  }

}