.overlay {
  color: $white;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    opacity: .85;
    width: 100%;
    height: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  hr {
    border-top: 1px solid $white;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &.overlay-blue-light {
    &::before {
      background-color: $blue-light;
    }
  }
  &.overlay-primary {
    &::before {
      background-color: $brand-primary;
    }
  }
}