<section id="training-program" class="bg-image overlay overlay-blue-light" style="background-image: url('{{ '/assets/img/BW-man-people-space-desk.jpg' | relative_url }}')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="content">
          <h2>CWIP Training Program</h2>
          <p class="lead">The Certified Widevine Implementation Partner (CWIP) program is designed to allow highly qualified individuals and companies the ability to confidently and successfully install and configure Widevine systems for their clients.</p>
          <a href="{{ '/training' | relative_url }}" class="button button-lg">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img src="{{ '/assets/img/logo-border.svg' | relative_url }}" class="img-fluid" alt="Widevine Logo">
        </div>
      </div>
    </div>
  </div>
</section>