<nav id="training-nav" class="subnav bg-gradient">
  <div class="container">
    <div class="magicnav">
      <ul class="nav">
        <li class="nav-item active-item">
          <a class="nav-link" href="{{ '/training' | relative_url }}">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#prerequisites">Prerequisites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#training-topics">Training Topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Schedule</a>
        </li>
<!-- TODO        <li class="nav-item">
          <a class="nav-link" href="#travel-info">Travel Info</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#partners">Certified Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
		<li class="nav-item">
		  <a class="nav-link" href="/training/cwip">CWIP Portal</a>
		</li>
      </ul>
      <div class="magic-line"></div>
    </div>
  </div>
</nav>