#blog-sidebar {
  h4 {
    margin-bottom: 0;
  }
  .card {
    border: 1px solid $brand-primary;
    border-radius: 0;
  }
  .card-header {
    border-radius: 0;
    border: 0;
    background-color: $brand-primary;
    position: relative;
    
    a {
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .card-body {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 14px;
        color: $brand-primary;
        a {
          color: $brand-primary;
        }
      }
    }
  }
  .filter {
    &:hover {
      cursor: pointer;
    }
  }
  
  .icon-plus {
    .icon-bar {
      &.bar-2 {
        transform: rotate(180deg);
      }
    }
  }
  
}