blockquote {
  color: $text-color;
  display: block;
  font-family: Georgia, serif;
  font-size: 32px;
  font-style: italic;
  line-height: 1.2;
  position: relative;
  text-align: justify;
  z-index: 1;

  &::before {
    color: rgba($gray-darker, .1);
    content: '\201C'; //Unicode for Left Double Quote
    display: block;
    font-family: Georgia, serif;
    font-size: 200px;
    font-weight: bold;

    //Positioning
    left: -60px;
    position: absolute;
    top: -60px;
    z-index: -1;
  }

  &::after {
    color: rgba($gray-darker, .1);
    content: '\201D'; //Unicode for Left Double Quote
    display: block;

    //font
    font-family: Georgia, serif;
    font-size: 200px;
    font-weight: bold;

    //Positioning
    position: absolute;
    right: -30px;
    top: calc(100% - 90px);
    z-index: -1;
  }

  a {
    color: $brand-primary;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $gray-darker;
    }
  }

  em {
    z-index: 9;
  }
}


// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
