.collapsable {
  list-style-type: none;
  padding-left: 0;
  li {
    margin-bottom: 30px;
    position: relative;
    &.collapsed {
      .icon-plus {
        .icon-bar {
          &.bar-2 {
            transform: rotate(180deg);
          }
        }
      }
    }
    .collapse-title {
      position: relative;
      display: block;
      background-color: $brand-primary;
      padding: 10px 50px 10px 20px;
      color: $white;
      font-family: 'Saira', sans-serif;
      font-weight: 600;
      cursor: pointer;
      display: block;
    }
   
    .collapse-content {
      background-color: $white;
      padding: 20px;
      color: $brand-primary;
      font-size: 14px;
      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}