.magic-line { 
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: $white;
  opacity: 0;
  @include transition(opacity, .3s);
}

#primarynav {
  .magic-line {
  }
}

#solution-nav,
#training-nav {
  .magicnav {
    position: relative;
  }
  .magic-line {
    background: $brand-primary;
  }
}

#solution-nav {
  .magic-line {
    width: 69px;
  }
}
