.table-list {
  list-style-type: none;
  padding-left: 0;
  > li {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid $gray-mid;

    &.heading-row {
      border-top: 0;
      border-bottom: 0;
      color: $brand-primary;
      background-color: $gray-mid;
      text-align: center;
      .column-heading {
        padding: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid $gray-mid;
    }
    .item {
      border-left: 1px solid $gray-mid;
      
      font-weight: 600;
      font-family: 'Open Sans Condensed', sans-serif;
      position: relative;
      padding: 10px;
      &:last-of-type {
        border-right: 1px solid $gray-mid;
      }
      a {
        color: $teal;
      }
      p {
        margin-bottom: 0;
        line-height: 1.4;
      }
    }
    .button {
      display: block;
      position: absolute;
      bottom: 0;
      left: 10px;
    }

  }
  .w-20 {
    width: 20%;
  }
  .w-25 {
    width: 25%;
  }
  .w-33 {
    width: 33.3%;
  }
  .w-40 {
    width: 40%;
  }
}

@media (max-width: $screen-md-max) {
  .table-list {
    > li {
      display: block;
      margin-bottom: 20px;
      border: 1px solid $gray-mid;
      &.heading-row {
        display: none;
      }
      .item {
        border: 0;
        padding: 10px;
        width: 100%;
        min-height: 0;
        &:last-of-type {
          border-right: 0;
        }
      }
      .button {
        position: relative;
        bottom: auto;
        left: auto;
        display: block;
        width: 150px;
      }
    }
    .w-20,
    .w-25,
    .w-33,
    .w-40 {
      width: 100%;
    }
  }
}
