---
layout: default
---

<section id="archive">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          {% if page.type == 'category' %}
          <h1>Archive of posts with {{ page.type }} '{{ page.title }}'</h1>
          {% endif %}
          {% if page.type == 'year' %}
          <h1>Archive of posts from {{ page.date | date: "%Y" }}</h1>
          {% endif %}
        </div>
      </div>
    </div>
    {% for post in page.posts %}
      <div class="row">
        <div class="col">
          <div class="content">
            <h2>{{ post.title }}</h2>
            <p class="post-details">{{ post.date | date: "%D"}} {% if post.author %}by {{ post.author }}{% endif %}</p>
            {{ post.content | truncatewords: 30 }}
            <br>
            <a href="{{ post.url }}" class="button button-teal button-lg">Read More</a>  
            <hr>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
