---
layout: default
---
{% include nav/solution_nav.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1 class="editable">{{ page.title }}</h1>
          <div class="editable">
            {{ page.summary_html }}
          </div>
<!--          <a href="{{ site.documentation_shaka_player_link }}" target="_blank" class="button button-teal button-block">View Shaka Player Documentation</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
  
{% include content/solution_features.html %}

{{ content }}

<!-- TODO {% include components/release_updates.html %} -->

{% include content/training_summary.html %}