/*
Error: Undefined variable: "$screen-sm-max".
        on line 18 of src/_assets/scss/elements/_tab_collapse.scss
        from line 19 of src/_assets/scss/main.scss

13: @import 'layout/page_footer';
14: 
15: // Import additional elements or project specific styles
16: @import 'elements/canvas';
17: @import 'elements/blockquotes';
18: @import 'elements/bg_video';
19: @import 'elements/tab_collapse';
20: 
21: // Animations
22: @import 'animations';

Backtrace:
src/_assets/scss/elements/_tab_collapse.scss:18
src/_assets/scss/main.scss:19
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:542:in `block in run_interp_no_strip'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:540:in `map'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:540:in `run_interp_no_strip'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:547:in `run_interp'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:512:in `visit_media'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/bin/sass:22:in `load'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/bin/sass:22:in `<main>'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/bin/ruby_executable_hooks:15:in `eval'
/Users/jonburr/.rvm/gems/ruby-2.4.0@repo-name/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$screen-sm-max\".\A         on line 18 of src/_assets/scss/elements/_tab_collapse.scss\A         from line 19 of src/_assets/scss/main.scss\A \A 13: @import 'layout/page_footer';\A 14: \A 15: // Import additional elements or project specific styles\A 16: @import 'elements/canvas';\A 17: @import 'elements/blockquotes';\A 18: @import 'elements/bg_video';\A 19: @import 'elements/tab_collapse';\A 20: \A 21: // Animations\A 22: @import 'animations';"; }
