html {
  h1, h2, h3, h4, h5, h6, p, a, .button, li {
    opacity: 0;
  }
  &.wf-active, &.wf-inactive {
    h1, h2, h3, h4, h5, h6, p, a, .button, li {
      opacity: 1;
    }
  } 
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

section {
  clear: both;
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  &:focus {
    outline: none;
  }
}

ul {
  padding-left: 20px;
}

@media (max-width: $screen-md-max) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}