@mixin transition($duration: .3s, $property: all, $effect: ease-in-out) {
  transition: $property $duration $effect;
}

@mixin animation($effect: fadeIn, $duration: .5s, $delay: 0s) {
  animation-name: $effect;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-delay: ($delay);
}

@mixin palette($bg: $brand-primary, $color: $text-color) {
  background-color: $bg !important;
  fill: $bg !important;
  color: $color !important;

  h1,
  h2,
  h3,
  h4,
  .lead {
    color: $color !important;

    small {
      color: $color !important;
    }
  }

  hr {
    border-color: lighten($color, 10%) !important;
  }
}
