
.clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Spacing
.content {
  @extend .clearfix;
  padding: 20px;
  position: relative;
}

img {
  &.pull-left {
    margin-right: 12px;
  }

  &.pull-right {
    margin-left: 12px;
  }
}

.lazy {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.bg-primary {
  @include palette($brand-primary, $white);
}


// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
