
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// Spacing
.content {
  position: relative;
  padding: 20px;
  @extend .clearfix;
}

img.pull-left {
  margin-right: 12px;
}
img.pull-right {
  margin-left: 12px;
}


// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}