// Color Palette
// -------------------------

$gray-darker:            #222222;
$gray-dark:              #9e9e9e;
$gray:                   #757575;
$gray-light:             #9e9e9e;
$gray-lighter:           #eeeeee;
$blue-dark:              #062233;
$blue-light:             #6ab2ff;
$teal:                   #24dda2;
$white:                  #fff;

$body-bg:                #ffffff;
$text-color:             #606060;
$brand-primary:          #0e4168;


$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);

// Media Queries
$screen-sm-min:           576px;
$screen-md-min:           768px;
$screen-lg-min:           992px;
$screen-xl-min:           1200px;

$screen-sm-max:           575px;
$screen-md-max:           767px;
$screen-lg-max:           991px;
$screen-xl-max:           1199px;
