// {{ padding }}
[class^="sprite-"] {
  display: inline-block;
  background-image: url("../img/sprite.svg");
  background-size: mq-px2em({{spriteWidth}}px) mq-px2em({{spriteHeight}}px);
}

{{#shapes}}
  .sprite-{{base}} {
    background-position: mq-px2em({{position.absolute.x}}px - 5) mq-px2em({{position.absolute.y}}px - 5);
    &:before {
      display: block;
      width: mq-px2em(32px);
      height: mq-px2em(32px);
      content: '';
      // float: left;
      // margin-right: 0.5em;
    }
  }
{{/shapes}}
