.stat {
  border: 1px solid $white;
  text-align: center;
  padding: 20px;
  color: $brand-primary;
  span {
    display: block;
    &:nth-of-type(1) {
      font-size: 40px;
      font-weight: 400;
      font-family: 'Saira Condensed', sans-serif;
    }
    &:nth-of-type(2) {
      font-size: 18px;
      font-family: 'Saira';
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

#stats {
  color: $brand-primary;
}

#company {
  hr {
    border-top: 1px solid $white;
  }
  img {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
}