.stat {
  border: 1px solid $blue-light;
  text-align: center;
  font-family: 'Saira';
  padding: 20px;
}

#company {
  hr {
    border-top: 1px solid 
  }
  img {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
}