#features {
  img {
    width: 250px;

  }
  hr {
    border-top: 1px solid $gray-dark;
    margin: 30px auto;
  }
  h3 {
    color: $text-color;
    text-transform: none;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 600;
  }
}

#ecosystem {
  h2 {
    color: $white;
  }
  background-image: url('/assets/img/bg-ecosystem.jpg');
}