#home-hero {
  // background-image: url('/assets/img/bg-hero.jpg');
  background: linear-gradient(to right,#6ab2ff 0,#3ff2c1 50%, #6ab2ff 100%);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  text-align: center;
  .container {
    z-index: 50;
  }
  hr {
    border-top: 1px solid $white;
    width: 225px;
    margin: 50px auto;
  }
  h1 {
    font-size: 29px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  }
  p {
    color: $brand-primary;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }
}

.home-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/bg-home-hero2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: 10;

}

@-webkit-keyframes Gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes Gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

#benefits {
  img {
    margin-bottom: 30px;
  }
}

#support {
  padding-bottom: 0;
  img {
    width: 255px;
    margin-bottom: 75px;
  }
  #footernav {
    border-top: 1px solid $brand-primary;
    margin-top: 25px;
    padding: 40px 0;
    .nav-link {
      color: $brand-primary;
    }
  }

}