#training {
  ul {
    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &.dashed {
      padding-left: 30px;
      > li {
        padding-top: 5px;
        padding-bottom: 5px;
        > ul {
          padding-left: 60px;
          list-style-type: disc;
          li {
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }
      }
      
    }
  }
  ol {
    margin: 20px 0;
    padding-left: 20px;
    li {
      font-weight: 600;
      padding-left: 10px;
      span {
        font-weight: 600;
      }
      p {
        font-weight: 400;
        margin-left: -30px;
      }
    }
  }
  h2 {
    margin-bottom: 15px;
  }
  h3 {
    font-family: 'Saira Condensed';
    font-weight: 600;
    text-transform: none;
    margin-bottom: 20px;
  }
  address {
    margin-bottom: 0;
  }
  .button {
    background-color: $teal;
    padding: 3px 30px;
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 0;
    color: $white;

  }
}

#travel-info {
  .button {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
  }
}

#schedule {
  .table-list {
    li {
      &.heading-row {
        .column-heading {
          width: 20%;
        }
      }
      &:last-of-type {
        border-bottom: 1px solid $gray-mid;
      }
      .item {
        width: 20%;
      }
    }
  }
}

#partners {
  .table-list {
  > li {
      &.heading-row {
        .column-heading {
          &:nth-of-type(1) {
            width: 20%;
          }
          &:nth-of-type(2),
          &:nth-of-type(3) {
            width: 40%;
          }
        }
      }
      &:last-of-type {
        border-bottom: 1px solid $gray-mid;
      }
      .item {
        padding: 30px 20px;
        &:nth-of-type(1) {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100px;
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          width: 40%;
          span {
            display: block;
          }
          ul {
            list-style-type: disc;
            li {
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

#faq {
  .collapsable {
    margin-top: 30px;
  }
  padding-bottom: 0;
}

@media (max-width: $screen-md-max) {
  #training-nav {
    display: none;
  }

  #partners, #schedule {
    .table-list {
     > li {
        display: block;
        margin-bottom: 20px;
        border: 1px solid $gray-mid;
        &.heading-row {
          display: none;
        }
        .item {
          border: 0;
          padding: 10px;
          width: 100%;
          min-height: 0;
          &:last-of-type {
            border-right: 0;
          }
        }
        .button {
          position: relative;
          bottom: auto;
          left: auto;
        }
      }
    }
  }
}