@mixin animation($effect: fadeIn,  $duration: 0.5s, $delay: 0s) {
  -webkit-animation-name: $effect;
  animation-name: $effect;

  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

   -webkit-animation-delay: ($delay);
  -moz-animation-delay: ($delay);
  animation-delay: ($delay);
}

// CARD SLIDE IN
@-webkit-keyframes cardSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cardSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// SKYBEAT
@-webkit-keyframes skyBeat {
  20% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 100%);
    transform: translate3d(0, 0, 100%);
    visibility: visible;
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 60%);
    transform: translate3d(0, 0, 60%);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes skyBeat {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 100%);
    transform: translate3d(0, 100%, 100%);
    // transform: scale(1);
    visibility: visible;
  }
  // 10% {
  //   opacity: 1;
  //   -webkit-transform: translate3d(0, 100%, 100%);
  //   transform: translate3d(0, 100%, 100%);
  //   // transform: scale(1.6);
  //   // transform: translate(1%, 1%);
  // }
  // 15% {
  //   opacity: 0.7;
  //   -webkit-transform: translate3d(0, 0, 0);
  //   transform: translate3d(0, 0, 0);
  //   // transform: scale(1);
  //   // transform: translate(0, 0);
  //   visibility: visible;
  // }
  // 40%, 45% {
  //   opacity: 1;
  //   -webkit-transform: translate3d(0, 0, 110%);
  //   transform: translate3d(0, 0, 110%);
  //   visibility: visible;
  // }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// FADEIN
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// SLIDEDOWN
@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// SLIDEUP
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}



.card {
    // Loop through the cards and delay the loading animation.
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) { 
      @include animation(cardSlideIn, 0.8s, 0.1s * $i);
    }
  }
  
}

