@mixin multi-background($name) {
  // Giant displays: large monitors, HDTV, and larger.
  background-image: url("http://placehold.it/2500x600/745B49/ffffff/&text="+ $name + "-lg.jpg");
  // background-image: url($name + "-lg.jpg");
  background-position: center;
  background-size: cover;
  // Most displays.
  @media screen and (max-width: 1600px) {
    background-size: auto;
    background-image: url("http://placehold.it/1920x400/745B49/ffffff/&text="+ $name + "-md.jpg");
    // background-image: url($name + "-md.jpg");

  }
  // Small displays; largest image that iOS can load into single memory buffer is 1024px.
  @media screen and (max-width: $screen-sm-max) {
    background-image: url("http://placehold.it/1920x400/745B49/ffffff/&text="+ $name + "-sm.jpg");
    // background-image: url($name + "-sm.jpg");
  }
  // Phones and tablets.
  @media screen and (max-width: $screen-xs-max) {
    background-image: url("http://placehold.it/1920x400/745B49/ffffff/&text="+ $name + "-xs.jpg");
    // background-image: url($name + "-xs.jpg");
  }
}