---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";
@import "utilities";
@import "mixins";
@import "animations";
@import "bootstrap";
@import "fonts";
@import "blockquotes";
@import "venobox";
@import "gridder";
/* -----------------------------------------
   Global Styles
----------------------------------------- */
html {}
body {}
section {
  padding: 50px 0;
}
a {
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  small {
    font-weight: 100;
  }
}

iframe {
  max-width: 100%;
}
/* -----------------------------------------
   DOM Specific Styles
----------------------------------------- */
#page {}
#page-header {
  position: fixed;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 9;
}
#page-content {
  padding-top: 100px;
  margin-bottom: 700px;
  background-color: #fff;
}
#page-footer {
  height: 700px;
  width: 100%;
  background: $gray-dark;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: #fff;
  a, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .footer-logo {
    margin: 0 auto;
    width: 128px;
  }
  .footer-brand {
    width: 300px;
  }
  .btn {
    margin: 25px 0 45px 0;
  }
}

#mainnav {
  margin: 0;
  .navbar-brand {
    display: inline-block;
    position: absolute;
    top: 25px;
    left:0;
    padding:0;
    width: 300px;
    img {
      max-height: 100%;
    }
  }
  .navbar-toggle {}
  .navbar-collapse {
    .nav {
      li {
        a {
          padding:0 15px;
          line-height: 100px;
          color: $gray-dark;
          &:hover, &:focus {
            background: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#footernav {
  p {
    margin-bottom: 40px;
  }
  a {
    padding: 0 25px;
    line-height: 35px;
  }
  
}

#socialnav {
  a {
    margin: 0 7px;
  }
  .icon {
    padding: 15px;
    background-color: $gray-light;
    color: $gray-dark;
    border-radius: 50%;
  }
}

#copyright {
  color: #fff;
}
#contact {}


#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1501;
  img {
    position: absolute;
    margin: 0 auto;
    width: 200px;
    top: 40%;
    left: 50%;
    display: block;
  }
  .brand {
    margin-left: -100px;
  }
  .loader {
    width: 50px;
    margin-left: -22px;
    margin-top: -40px;
  }
}

#box {
  padding-bottom: 50px;
  .color-bar {
    z-index: 8;
    position:relative;
  }
  img {
    max-width: 500px;
    margin-top:-2px;
    position: relative;
    z-index: 2;
  }
  h1 {
    margin-top: 50px;
  }
}

#testimonials {
  max-width: 650px;
  margin: 0 auto;
  img {
    max-width: 165px;
  }
}

#bio {
  .bio-image {
    width: 33.33%;
    position: relative;
  }
  .bio-content {
    width: 67.67%;
    background: $gray-light;
    padding: 80px;
  }
}

#about-contact {
  padding: 20px;
  margin: 0 auto;
  max-width: 350px;
  border: 1px solid $gray;
  text-align: center;
  a {
    color: $gray-dark;
  }
}



/* -----------------------------------------
   Bootstrap
----------------------------------------- */

.btn {
  font-weight: 100;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  border: 0;
  &.btn-primary {
    background: rgb(199,111,40);
    background: -moz-linear-gradient(left,  rgba(199,111,40,1) 0%, rgba(225,42,69,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(199,111,40,1) 0%,rgba(225,42,69,1) 100%);
    background: linear-gradient(to right,  rgba(199,111,40,1) 0%,rgba(225,42,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c76f28', endColorstr='#e12a45',GradientType=1 );
  }
  &.btn-success {
    background: rgb(159,182,52);
    background: -moz-linear-gradient(left,  rgba(159,182,52,1) 0%, rgba(93,183,171,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(159,182,52,1) 0%,rgba(93,183,171,1) 100%);
    background: linear-gradient(to right,  rgba(159,182,52,1) 0%,rgba(93,183,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fb634', endColorstr='#5db7ab',GradientType=1 );
  }
}


// Hero Images
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  background-color: $gray-dark;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding: 75px 0;
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    color: #fff;
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  .hero-caption {
    display: block;
  }
  ul {
    list-style-type: none;
  }
}


/* styles for home gallery section */
.galleries-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-xs-6, .col-md-3, .col-sm-4 {
    padding: 1px;
  }
  .thumbnail {
     position: relative;
     max-width: 450px;
    .image-hover {
      pointer-events: none;
      cursor: pointer;
      opacity: 0;
      max-width: 100%;
      width: 100%;
      background: $brand-primary;
      position: absolute; 
      height:115px;
      bottom:0;
      left: 0;
      overflow: hidden;
      color: #fff;
      z-index: 1500;
      border: 1px solid #fff;
      transition: opacity 0.5s ease-in-out;
      .hover-images {
        height: 60%;
        position: absolute;
        max-height: 60%;
      }
      .hover-image-1 {
        float:left;
        width: 50%;
        border-right:1px solid #fff;
      }
      .hover-image-2 {
        border-left:1px solid #fff;
        float: left;
        width: 50%;
      }
      .hover-text {
        position:absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
        left: 0;
        padding: 30px 20px;
        p {
          padding: 0;
          font-family: 'Roboto Slab', helvetica, arial, sans-serif;
          font-weight: 100;
          letter-spacing: 1px;
          font-size: 18px;
        }
      }
      
    }
    &:hover {
      .image-hover {
        opacity: .7;
      }
    }
  }
  .color-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
  }
}

table {
  tr {
    td {
      &:nth-of-type(1) {
        text-align: right;
      }
    }
  }
}
/* styles for gallery pages */

.gallery {
  .galleries-wrapper {
    max-width: 900px;
    margin: 10px auto;
    .col-xs-6, ,.col-md-4, .col-md-3, .col-sm-4 {
      padding: 5px;
    }
  }
}

.gallery-left {
  text-align: center;
  h4 {
    margin-top: 35px;
    span {
      font-size: 16px;
      line-height: 2;
    }
  }
  a {
    display: block;
    width: 100%;
    color: $text-color;
    margin-top: 35px;
  }
}

.set-height {
  margin-top: 15px;
  display: table;
  width: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

//Wufoo form styles

.wufoo {
  padding-top:20px;
  label {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  input.text {
    display: block;
    height: 45px;
    width: 100%;
    padding: 6px 20px;
    margin:15px 0;
    font-size: 14px;
    line-height: 1.42857;
    color: #000;
    vertical-align: middle;
    background-color: $gray-lighter;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: none;
    border-left: 10px solid $brand-primary;
  }
  textarea {
    background: $gray-lighter;
    padding: 20px;
    border: none;
    border-left: 10px solid $brand-primary;
    height: 130px;
    width: 100%;
  }
  #saveForm {
    border: none;
    margin-top: 30px;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #000;
     opacity:  1;
     font-family: 'Open Sans', helvetica, arial, sans-serif;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #000;
     opacity:  1;
     font-family: 'Open Sans', helvetica, arial, sans-serif;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #000;
     font-family: 'Open Sans', helvetica, arial, sans-serif;
  }
}

/* -----------------------------------------
   Overwrite Bootstrap
----------------------------------------- */
.navbar-toggle {
  margin-top: 45px;
  .icon-bar {
    background: $text-color;
  }
}
.table-bordered {
  border: 15px solid #fff;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.thumbnail {
  padding: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  .caption {
    height: 290px;
  }
}

/* -----------------------------------------
   Utility Classes
----------------------------------------- */

.grid {
  display: flex;
  &.image-grid {
    flex-wrap: wrap;
    .grid-item {
      background-repeat: no-repeat;
      background-size: cover;
      height: 230px;
      width: 33.33%;
      position: relative;
      transition: all 500ms ease;
      &:hover {
        opacity: .8;
      }
      .item-caption {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
        color: #fff;
        position: relative;
        z-index: 8;
        .caption-content {
          width: 100%;
          font-size: 22px;
        }
      }
    }
  }
}

.color-bar {
  display: block;
  width: 100%;
  text-align: center;
  padding: 35px 0;
  font-size: 27px;
  color: #fff;
  transition: all 500ms ease;
  clear: both;
  &:hover, &:active, &:focus {
    color: #fff;
  }
}

.gradient-orange-red {
  background: rgb(199,111,40);
  background: -moz-linear-gradient(left,  rgba(199,111,40,1) 0%, rgba(225,42,69,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(199,111,40,1) 0%,rgba(225,42,69,1) 100%);
  background: linear-gradient(to right,  rgba(199,111,40,1) 0%,rgba(225,42,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c76f28', endColorstr='#e12a45',GradientType=1 );
}

.gradient-red-orange {
  background: rgb(225,42,69);
  background: -moz-linear-gradient(left,  rgba(225,42,69,1) 0%, rgba(199,111,40,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(225,42,69,1) 0%,rgba(199,111,40,1) 100%);
  background: linear-gradient(to right,  rgba(225,42,69,1) 0%,rgba(199,111,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12a45', endColorstr='#c76f28',GradientType=1 );
}

.gradient-purple-blue {
  background: rgb(128,98,193);
  background: -moz-linear-gradient(left,  rgba(128,98,193,1) 0%, rgba(58,128,191,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(128,98,193,1) 0%,rgba(58,128,191,1) 100%);
  background: linear-gradient(to right,  rgba(128,98,193,1) 0%,rgba(58,128,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8062c1', endColorstr='#3a80bf',GradientType=1 );
}

.gradient-blue-purple {
  background: rgb(58,128,191);
  background: -moz-linear-gradient(left,  rgba(58,128,191,1) 0%, rgba(128,98,193,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(58,128,191,1) 0%,rgba(128,98,193,1) 100%);
  background: linear-gradient(to right,  rgba(58,128,191,1) 0%,rgba(128,98,193,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a80bf', endColorstr='#8062c1',GradientType=1 );
}

.gradient-green-yellow {
  background: rgb(159,182,52);
  background: -moz-linear-gradient(left,  rgba(159,182,52,1) 0%, rgba(93,183,171,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(159,182,52,1) 0%,rgba(93,183,171,1) 100%);
  background: linear-gradient(to right,  rgba(159,182,52,1) 0%,rgba(93,183,171,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fb634', endColorstr='#5db7ab',GradientType=1 );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  &.orange-gradient {
    @extend .gradient-orange-red;
  }
  &.blue-gradient {
    @extend .gradient-blue-purple;
  }
  &.green-gradient {
    @extend .gradient-green-yellow;
  }
  &.pink {
    background-color: #d97774;
    opacity: .35;
  }
  &.green {
    background-color: #9ac993;
    opacity: .35;
  }
  &.orange {
    background-color: #dd8e28;
    opacity: .35;
  }
  &.orange-dark {
    background-color: #d85528;
    opacity: .35;
  }
  &.blue {
    background-color: #23a5cc;
    opacity: .35;
  }
  &.purple {
    background-color: #8c65ab;
    opacity: .35;
  }
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .63;
  background-color: #d87774;
}

.checklist {
  list-style-type: none;
  width: 350px;
  margin: 40px auto 30px auto;
  li {
    position: relative;
    padding: 15px 0;
  }
  .box {
    position: absolute;
    left: -40px;
    top: 16px;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
  }
  .icon {
    &.icon-check {
      font-size: 34px;
      position: absolute;
      top: -14px;
      left: -3px;
      color: $red;
    }
  }
}
.brand {
  display: flex;
  width: 100%;
  background-color: $gray-light;
  .brand-image {
    width: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .brand-logo {
    width: 250px;
    max-width: 250px;
  }
  .brand-details {
    width: 70%;
    padding: 80px;
  }
  .brand-description {
    margin: 20px 0;
  }
  .brand-services {
    margin-bottom:30px;
  }
  .brand-socialnav {
    a {
      margin-left:10px;
      margin-right: 10px;
    }
    .icon {
      padding: 10px;
      background-color: $gray;
      border-radius: 50%;
      line-height: 40px;
      color: #fff;
    }
  }
}