#page-footer {
  display:block;
  background-color: $brand-primary;
  color: $white;
  font-family: 'Saira', sans-serif;
  background-color: $blue-dark;
  img {
    width: 85px;
  }
  .copyright {
    padding-left: 30px;
  }
  .top-link {
    padding-right: 20px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
  }
  .d-flex {
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    padding: 40px 0;
  }
}

#footernav {
  .nav {
    justify-content: space-between;
    .nav-link {
      color: $white;
      font-family: 'Saira', sans-serif;
    }
  }
}

// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
