#page-footer {
  display:block;
  background-color: $brand-primary;
  color: $white;
  .d-flex {
    align-items: center;
    justify-content: space-between;
    background-color: $blue-dark;
  }
}

#footernav {
  .nav {
    justify-content: center;
  }
}

// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
