---
layout: default
title: Contact
---

<section id="help">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1 class="editable">Need Help?</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-4">
        <div class="content">
          <img src="{{ '/assets/img/icon-tech-support.svg' | relative_url }}" class="img-fluid" alt="Tech Support Icon">
          <a href="{{ site.tech_support_link }}" class="button button-teal button-block" target="_blank">Tech Support</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="content">
          <img src="{{ '/assets/img/icon-general-qs.svg' | relative_url }}" class="img-fluid" alt="General Questions Icon">
          <a href="{{ site.general_questions_link }}" class="button button-teal button-block" target="_blank">General Questions</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content height-100">
          <div class="address-wrapper bg-gradient-diagonal">
            <div class="address">
              <img src="{{ '/assets/img/logo-white.svg' | relative_url }}" alt="Widevine Logo">
              <address>
                <strong>Widevine Technologies</strong><br>
                747 6th Street South<br>
                Kirkland, WA 98033<br>
                USA
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include content/training_summary.html %}
<!-- TODO  {% include components/events_list.html %} -->

