---
layout: default
title: CWIP Training
---

{% include training-nav.html %}
<section id="training">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1>Certified Widevine Implementation Partner Overview</h1>
          <p class="lead editable">The Certified Widevine Implementation Partner (CWIP) program is designed to allow highly qualified individuals and companies the ability to confidently and successfully install and configure Widevine systems for their clients. The goals of the program are:</p>
          <div class="editable">
            <ul>
              <li>Teach CWIP candidates how to install, configure and troubleshoot the Widevine system</li>
              <li>Ensure a high level of satisfaction for both the System Integrator and their end customers</li>
              <li>Maintain a high level of Widevine system knowledge within the CWIP community</li>
              <li>Maintain a high level of content owner trust in the Widevine system and Widevine’s CWIPs</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <h3>In order to become a CWIP the following obligations must be completed:</h3>
          <ul>
            <li>Execution of legal agreements (Note: Individuals will be unable to register for classes until this step is complete)
              <ul class="dashed">
                <li>Non-Disclosure Agreement</li>
                <li>Product Licensing Agreement</li>
                <li>Certified Widevine Implementation Partner Agreement</li>
              </ul>
            </li>
            <li>Training
              <ul class="dashed">
                <li>Lecture</li>
                <li>Hands on lab time</li>
              </ul>
            </li>
            <li>Written certification test</li>
            <li>Hands on practical test</li>
            <li>It should be noted that the class is difficult and the requirements for passing are high to ensure the highest quality and customer satisfaction with implementations performed by CWIPs.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <h3>To maintain CWIP certification, CWIPs must:</h3>
          <ul>
            <li>Have on staff a minimum of 2 individuals that are CWIP certified</li>
            <li>Pass audits of end user sites conducted by Widevine to ensure proper and secure installations</li>
            <li>End user and content owner experience must remain satisfactory</li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="divider">
    <div id="prerequisites" class="row">
      <div class="col">
        <div class="content">
          <h2>CWIP Prerequisites</h2>
          <h3>Required skills and background knowledge for training and certification:</h3>
          <ol>
            <li><span>You must be able to communicate in English (verbally and written)</span>
              <p>The classes are taught in English exclusively. If you have a difficult time understanding English you will find the classes almost impossible to navigate.</p>
            </li>
            <li><span>You must bring a laptop with Chrome browser installed to participate in and complete the lab sessions</span>
              <p>The classes are taught in English exclusively. If you have a difficult time understanding English you will find the classes almost impossible to navigate.</p>
            </li>
            <li>
              <span>Systems and Network Administration</span>
              <p>The individual should have a good understanding of networks, including CDN setup and maintenance, setup and maintenance of web servers, video content flow to the Internet, firewalls, routing, subnets, TCP and UDP communications.</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div id="schedule" class="row">
      <div class="col">
        <div class="content">
          <h3>Upcoming Course Schedule</h3>
          <p class="text-red">* Class schedules are subject to change</p>
          <ul class="table-list">
            <li class="heading-row">
              <div class="column-heading">Course Title</div>
              <div class="column-heading">Course Date(s)</div>
              <div class="column-heading">Location</div>
              <div class="column-heading">Time</div>
              <div class="column-heading">Registration Deadline</div>
            </li>
            {% for course in site.data.course-schedule %}
            <li>
              <div class="item">{{ course.course_title }}</div>
              <div class="item">{{ course.course_dates }}</div>
              <div class="item">
                {% if course.location_line_1 %}
                  {{ course.location_line_1 }}<br>
                {% endif %}
                {% if course.location_line_2 %}
                  {{ course.location_line_2 }}<br>
                {% endif %}
                {% if course.location_line_3 %}
                  {{ course.location_line_3 }}<br>
                {% endif %}
                {% if course.location_line_4 %}
                  {{ course.location_line_4 }}
                {% endif %}

                {% if course.map_link %}
                <div class="map-link">
                  <a href="{{ course.map_link }}" class="button" target="_blank">Map</a>
                </div>  
                {% endif %}
              </div>
              <div class="item">{{ course.course_time }}</div>
              <div class="item">
                <span class="deadline">{{ course.registration_deadline }}</span>
                <a href="#" class="button">Apply</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <hr class="divider">
    <div id="training-topics" class="row">
      <div class="col">
        <div class="content">
          <h2>Training Topics</h2>
          <p class="text-red">* Please note course description and content are subject to change</p>
          <h3>Widevine DRM Training</h3>
          <div class="day">
            <strong>Day 1:</strong>
            <ul class="dashed">
              <li>Lecture
                <ul>
                  <li>Modular DRM Framework</li>
                  <li>Description of DASH</li>
                  <li>What are Encrypted Media Extensions</li>
                  <li>What are Media Source Extensions</li>
                  <li>The Widevine CDM: Implementation and Ecosystem</li>
                  <li>Content Encryption and Playback</li>
                  <li>Supported Platforms:
                    <ul class="dashed">
                      <li>Client availability</li>
                      <li>Client security and integration</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="day">
            Day 2:
            <ul class="dashed">
              <li>
                Lecture
                <ul>
                  <li>Android</li>
                  <ul class="dashed">
                    <li>CDM and Java Classes</li>
                    <li>Certificate Provisioning</li>
                    <li>Key Rotation</li>
                    <li>Android Integrations</li>
                    <li>Device Security Levels</li>
                    <li>ExoPlayer</li>
                  </ul>
                </ul>
              </li>
              <li>
                Lecture
                <ul>
                  <li>Content Encryption
                    <ul class="dashed">
                      <li>Common Encryption</li>
                      <li>e-DASH Packager</li>
                      <li>Encryption Options</li>
                      <li>Packaging workflow</li>
                      <li>Supported input and output formats</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                Lab
                <ul>
                  <li>How to encrypt content</li>
                  <li>Available tools, demo and code samples</li>
                  <li>Content validation including sample playback</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider">
    <div id="travel-info" class="row">
      <div class="col">
        <div class="content">
          <h2>CWIP Travel Information</h2>
          <h3>The following arrival information can help you prepare for your on-site visit for CWIP training.</h3>
          <address>
            <strong>Google Site Address:</strong><br>
            Google Kirkland<br>
            747 6th Street South<br>
            Kirkland, WA 98033
          </address>
          <a href="https://www.google.com/maps/place/Google/@47.6697163,-122.1999892,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x94ca4b8d5cc5fb58!8m2!3d47.6697163!4d-122.1978005?hl=en" class="button button-teal" target="_blank">Map</a>
          <p class="mb-0"><strong>CWIP Training Check-in</strong></p>
          <p><strong class="text-uppercase text-red">Important: </strong>Each day, please check-in at the reception desk in <strong class="text-red">Building B</strong> between <strong class="text-red">9:00am - 9:15am PT</strong> to receive your visitor's badge.</p>
          <ul>
            <li>A Google escort is required at all times.</li>
            <li>Training takes place in <strong class="text-red">Building B</strong>, beginning at <strong class="text-red">9:30am PST</strong></li>
          </ul>
          <p class="mb-0"><strong>Airport Information</strong></p>
          <p>We recommend flying into Seattle-Tacoma International Airport <strong class="text-red">(Airport code: SEA)</strong>. From the airport you can rent a car or take a taxi as needed.</p>
        </div>
      </div>
    </div>
    <div id="hotel-info" class="row">
      <div class="col">
        <div class="content">
          <p class="mb-0"><strong>Hotel Information</strong></p>
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <address>
                  Heathman Hotel<br>
                  220 Kirkland Ave<br>
                  Kirkland, WA<br>
                  +1-425-284-5800<br>
                  GOOGLE RATE CODE: GOOVA<br>
                  Distance: 0.6 miles
                </address>
              </div>
              <div class="card-footer">
                <a href="https://www.google.ca/maps/place/The+Heathman+Hotel+Kirkland/@47.6757541,-122.2060432,17z/data=!3m1!4b1!4m7!3m6!1s0x549012dd66e984fb:0xad49bdd9fdecc900!5m1!1s2018-04-27!8m2!3d47.6757541!4d-122.2038545" class="button button-teal button-block" target="_blank">Map</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <address>
                  Woodmark Hotel<br>
                  1200 Carillon Point<br>
                  Kirkland WA<br>
                  +1-425-822-3700<br>
                  GOOGLE RATE CODE:<br>
                  CPGOOGLEWH<br>
                  Distance: 1.0 miles
                </address>
              </div>
              <div class="card-footer">
                <a href="https://www.google.ca/maps/place/Woodmark+Hotel+%26+Still+Spa/@47.6569353,-122.2093004,17z/data=!3m1!4b1!4m7!3m6!1s0x5490132c6efdf2db:0xedfdb8ff31eac508!5m1!1s2018-04-27!8m2!3d47.6569353!4d-122.2071117" class="button button-teal button-block" target="_blank">Map</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <address>
                  Courtyard Seattle Kirkland<br>
                  <strong>Contact: Kate Stringfield<br>
                  Director of Sales<br>
                  +1-425-602-3205</strong><br>
                  11215 NE 124th St<br>
                  Kirkland WA<br>
                  GOOGLE RATE CODE: GGL<br>
                  Distance: 2.9 miles
                </address>
              </div>
              <div class="card-footer">
                <a href="https://www.google.ca/maps/place/Courtyard+by+Marriott+Seattle+Kirkland/@47.710926,-122.1933951,17z/data=!3m1!4b1!4m7!3m6!1s0x549012785d798205:0x90e436fd0796b5a5!5m1!1s2018-04-27!8m2!3d47.710926!4d-122.1912011" class="button button-teal button-block" target="_blank">Map</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="partners" class="row">
      <div class="col">
        <div class="content">
          <h2>CWIP Integrators List</h2>
          <h3>The following companies have been certified as Widevine integrators to install, maintain, and deploy Widevine software.</h3>
          <ul class="table-list">
            <li class="heading-row">
              <div class="column-heading">Integrator</div>
              <div class="column-heading">Contact Information</div>
              <div class="column-heading">Certifications</div>
            </li>
            {% for partner in site.data.partners %}
            <li>
              <div class="item">
                <img src="{{ partner.partner_logo_image }}" alt="{{ partner_name }} Logo" class="img-fluid">
              </div>
              <div class="item">
                {{ partner.contact_info_html }}
              </div>
              <div class="item">
                {{ partner.certifications_html }}
              </div>
            </li>
            {% endfor %}
         </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faq" class="bg-gray-mid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="editable">CWIP Frequently Asked Questions</h2>
          <ul class="collapsable">
            {% for item in site.data.faq %}
              <li data-togge="collapse" data-taret="#question-{{ forloop.index }}" class="collapsed">
                <div class="collapse-title">
                  <span class="editable">{{ item.question }}</span>
                  <div class="icon-plus">
                    <span class="icon-bar bar-1"></span>
                    <span class="icon-bar bar-2"></span>
                  </div>
                </div>
                <div id="question-{{ forloop.index }}" class="collapse-content collapse">
                  <div class="editable">
                    {{ item.answer_html }}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <hr class="divider">
  </div>
</section>