---
layout: solution
title: Widevine DRM
permalink: /solutions/widevine-drm

summary_html: >-
  <p>Widevine’s DRM solution provides the capability to licese, securely distribute and protect playback of content on any consumer device. Content owners, multiple service operators and digital media providers can utilize Widevine’s solutions to ensure revenue generating services keep flowing to whatever device consumers desire.</p>

features: 
  - title: Content Protection
    icon_path: '/assets/img/icon-content-protection.svg'
    summary_html: >-
      <p>Provides ubiquitous device coverage and extends synergy across multiple content protection systems. See a list of currently supported platforms.</p>
  - title: Video Playback
    icon_path: '/assets/img/icon-video-playback.svg'
    summary_html: >-
      <p>Fully featured HTML5 video player with adaptive streaming, QoS, and accessibility support across devices.</p>
  - title: Standardized Format
    icon_path: '/assets/img/icon-standardized.svg'
    summary_html: >-
      <p>Encrypt once, play anywhere utilizing industry adopted media containers including ISO BMFF 9i.e. MP4) and WebM.</p>
  - title: Legacy System
    icon_path: '/assets/img/icon-legacy-system.svg'
    summary_html:  >-
      <p>Support for concurrent access to all content protection systems. Providing migration tools and flexibility while adopting new technologies</p>
  - title: Device Security
    icon_path: '/assets/img/icon-device-security.svg'
    summary_html: >-
      <p>Robust device security is enabled by using factory provisioned keyboxes to establish a hardware root of trust, secure decryption and content rendering.</p>

---



<section id="device-integration" class="bg-gray-mid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1 class="editable">Device Integration Details</h1>
          <div class="editable">
            <p>Depending on your needs, please review the information below to help determine your next steps. If you have any questions please contact us.</p>
          </div>
          <ul class="collapsable">
            <li data-toggle="collapse" data-target="#device" class="collapsed">
              <div class="collapse-title" class="editable">
                Device Manufacturers and Chipset Vendors
                {% include components/icon_plus.html %}
              </div>
              <div id="device" class="collapse-content collapse">
                <div class="editable">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae officia rerum, quos corporis quia facere. Culpa at, amet distinctio omnis eos, tenetur dolorum consequatur, aliquid necessitatibus asperiores vel incidunt, quasi!
                </div>
              </div>
            </li>
            <li data-toggle="collapse" data-target="#content-owners" class="collapsed">
              <div class="collapse-title editable">
                Content Owners/Providers
                {% include components/icon_plus.html %}
              </div>
              <div id="content-owners" class="collapse-content collapse">
                <div class="editable">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae officia rerum, quos corporis quia facere. Culpa at, amet distinctio omnis eos, tenetur dolorum consequatur, aliquid necessitatibus asperiores vel incidunt, quasi!
                </div>
              </div>
            </li>
            <li data-toggle="collapse" data-target="#end-users" class="collapsed">
              <div class="collapse-title editable">
                End User
                {% include components/icon_plus.html %}
              </div>
              <div id="end-users" class="collapse-content collapse">
                <div class="editable">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae officia rerum, quos corporis quia facere. Culpa at, amet distinctio omnis eos, tenetur dolorum consequatur, aliquid necessitatibus asperiores vel incidunt, quasi!
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>








